asgiref==3.2.5
boto3==1.12.20
botocore==1.15.20
Django==3.0.4
docutils==0.15.2
cycler==0.10.0
jmespath==0.9.5
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
pip==19.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
setuptools==40.8.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8